        /* Header part */
        #plus_one_logo {
            background: url(images/header.png);
            background-repeat: no-repeat;
            /* background-repeat: no-repeat; */
            background-size: cover;
             height: 190px;
            width: 100%;
        }

        #add {
            padding: 10px;
        }

        #khali {
            background-color:floralwhite;
        }


        /* image vala section */

        #bgimg {
            background: url(images/background-img.avif);
            background-repeat: no-repeat;
            background-size: cover;
            /* height: 700px; */
            width: 100%;
            height: auto;
        }

        #itscorporate {
            font-size: xxx-large;
            font-family: Trebuchet MS;
            color: aliceblue;
            font-weight: 700;
            margin-top: -90px;
        }

        #san {
            color: aliceblue;
        }

        #business {
            font-size: 100px;
            opacity: initial;
            color: rgba(240, 248, 255, 0.461);
            font-weight: bolder;
        }

        #sqrs {
            color: crimson;
            font-size: x-large;
        }

        /* about */
        #aboutfull {
            font-size: x-large;
            margin-left: 30px;
            margin-right: -20px;
        }

        #out {
            border-left: 5px solid crimson;

        }

        #line {
            background-color: aliceblue;
            padding: 4px;
            width: 100px;
            margin-left: 6px;
        }

        #bgcolor {
            background-color: rgba(135, 207, 235, 0.667);
            padding: 30px;
        }

        /* right side */
        #gulabi {

            background-color: rgba(220, 20, 60, 0.786);
            padding: 80px;
        }

        /* last portion */
        .pinktext {
            font-size: larger;
            color: palevioletred;
            font-weight: 500;
        }

        .vlog {
            padding: 30px;
        }

        .pera {
            text-align: justify;
            font-weight: 600;
            /* padding: 10px; */
            /* word-spacing: -1px; */
        }
        .vlog{
            background-color: ghostwhite;
        }
        /* footer */

        footer {
            background-color: black;
            color: white;
            display: flex;
            padding: 20px;

        }

        #ux {
            text-decoration: overline
        }