        /* Header part */
        #plus_one_logo {
            background: url(images/header.png);
            background-repeat: no-repeat;
            /* background-repeat: no-repeat; */
            background-size: cover;
            /* height: 700px; */
            width: auto;
            height: auto;
        }

        #plus_one {
            color: azure;
        }

        /* image vala section */

        #bgimg {
            background: url(images/background-img.avif);
            background-repeat: no-repeat;
            background-size: cover;
            /* height: 700px; */
            width: 100%;
            height: auto;
        }

        #itscorporate {
            font-size: xxx-large;
            font-family: Trebuchet MS;
            color: aliceblue;
            font-weight: 700;
            margin-top: -90px;
        }

        #san {
            color: aliceblue;
        }

        #business {
            font-size: 100px;
            opacity: initial;
            color: rgba(240, 248, 255, 0.461);
            font-weight: bolder;
        }

        #sqrs {
            color: crimson;
        }

        #line {
            background-color: aliceblue;
             width: 30px;
        }

        #bgcolor {
            background-color: rgba(17, 0, 255, 0.325);
        }

        /* right side */
        #gulabi {

            background-color: rgba(220, 20, 60, 0.786);
            padding: 80px;
        }
        /* last portion */
        .pinktext{
            color: palevioletred;
        }
        .vlog{
            padding: 30px;
        }
        .pera{
            text-align: justify;
            /* padding: 10px; */
            /* word-spacing: -1px; */
        }
        /* footer */

        footer{
            background-color: black;
            color: white;
        }
        #foot{
            display:inline-flex;
        }